/* full document */

body {
  margin: 0;
  text-align: center;
  background-image: url(https://images.theconversation.com/files/232349/original/file-20180816-2924-8o4zf5.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1356&h=668&fit=crop);
  background-size: cover;
  font-family: 'Yusei Magic', sans-serif;
}


/* header */
header {
  height: 15vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
h4 {
  padding: auto;
}

/* main card section */
main {
  height: 70vh;
  display: flex;
  justify-content: space-around;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 205px;
}
img {
  height: 250px;
  width: 175px;
  border: 2px solid;
  margin-left: auto;
  margin-right: auto;
}
p {
  width: 175px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

footer {
  height: 15vh;
}

/* left and right card section */

/* center card section */
.discard-pile {
  margin-bottom: 50px;
}


/* other */
.hidden {
  display: none;
}
